:root {
  --main-text-color: #000000;
  --second-text-color: #ffffff;
  --accent-text-color: #838485;
}

body {
  font-family: Poppins, sans-serif;
  color: var(--main-text-color);
  font-size: 20px;
  line-height: 1.5;
}

.container {
  width: 1240px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  border: 1px solid red;
}
